@CHARSET "UTF-8";

#background {
	height: 100%;
	width: 100%;
}

#icon-close {
	height: 40px;
	width: 40px;
	margin-top: -15px;
	margin-left: -15px;
	cursor: pointer;
}

#iconCloseBound {
	position: absolute;
	z-index: 1;
}

#modalContent img {
	height: auto;
	max-width: 90%
}

#selectchn-icon {
	position: fixed;
	bottom: 10px;
	right: 10px;
	z-index: 999;
	height: 15vh;
	width: 15vh;
	cursor: pointer;
}
#underConstructor{
	position: fixed;
	bottom: 0px;
	right: 0px;
	z-index: 999;
	height: 5vh;
	width: 100%;
	background-color: blue;
	text-align: center;
	
}


.form-group input[type="checkbox"] {
	display: none;
}

.form-group input[type="checkbox"]+.btn-group>label span {
	width: 20px;
}

.form-group input[type="checkbox"]+.btn-group>label span:first-child {
	display: none;
}

.form-group input[type="checkbox"]+.btn-group>label span:last-child {
	display: inline-block;
}

.form-group input[type="checkbox"]:checked+.btn-group>label span:first-child
	{
	display: inline-block;
}

.form-group input[type="checkbox"]:checked+.btn-group>label span:last-child
	{
	display: none;
}

.newslogo{
	max-width: 200px;
	max-height: 75px;
	
}
#secondaryCloseDiv{
	text-align: center;
	background-color: #E74C3C;
	border-radius: 5px;
	cursor: pointer;
}
#closeA{
	color: black;
}

.sonic{
	position: absolute;
	left: 50%;
	margin-left: -35px;
	margin-top: 30px;
	height: 70px;
}